.wrap {
	position: relative;
	display: block;
}

.date {
	color: #fff;
}

.picker {
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	z-index: 999;
}

.btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	color: #fff;
}
