.title {
	margin-bottom: 30px;
}

.wrap {
	display: grid;
	max-width: 600px;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	margin-bottom: 30px;
}

.left {
	display: grid;
	grid-row-gap: 15px;
}

.right {
	display: grid;
	grid-row-gap: 15px;
}
